@page
@model MyApp.Namespace.ContactModel
@{
    ViewData["Title"] = "Gaming";
}

<div class="text-center">
    <h1>Gaming</h1>
    <p>
        Server status?<br/>
        Build a server to check whether my minecraft, terraria, ect are up.
    </p>
</div>