@page
@model MyApp.Namespace.ContactModel
@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1>Projects</h1>
    <p>
        Link <a href="https://www.github.com/Skote2">my github</a> maybe?
    </p>
</div>