@page
@model MyApp.Namespace.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1>Contact</h1>
    <table id="people">
        <h2>David N. Zilio</h2>
        <p>
            BCS - Web Master<br/>
            EMail: <a href="mailto:DavidNZilio@gmail.com">DavidNZilio@gmail.com</a><br/>
            Github: <a href="https://github.com/Skote2">Skote2</a><br/>
            Linkedin <a href="https://linkedin.com/in/davidnzilio">David N. Zilio</a>
        </p>
    </table>
</div>